* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #5e5c5c;
  height: 100vh;
  width: 100vw;
}
#root {
  background-color: #fff;
  max-width: 700px;
  margin: 0 auto;
  height: 100vh;
  border-radius: 8px;
  font-family: Karla;
}
.container {
  padding-bottom: 10px;
  background-color: #fff;
}
header {
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  display: flex;
}
header .logo {
  width: 40px;
  height: 40px;
  margin: 10px 10px 10px 20px;
}
header .site-name {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}
header .slogan {
  color: #fff;
  margin-left: auto;
  margin-right: 40px;
  font-weight: 500;
  margin-top: 20px;
}
.form {
  text-align: center;
  margin-top: 50px;
}
.form button {
  width: 80%;
  margin-top: 20px;
  height: 40px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
input.textfield {
  width: 255px;
  height: 35px;
  margin: 0 25px;
  border: 1px solid #D5D4D8;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
}
.meme-image {
  width: 75%;
  margin: 50px auto;
  text-align: center;
  display: flex;
}